<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Service Acmebot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Add Certificate
      </h1>
      <div id="app">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Resource Group</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select" :class="{ 'is-loading': resourceGroupsLoading }">
                  <select v-model="resourceGroupName">
                    <option disabled value="">Please select one</option>
                    <option v-for="resourceGroup in resourceGroups" :value="resourceGroup.name">{{ resourceGroup.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">App Service</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select" :class="{ 'is-loading': webSitesLoading }">
                  <select v-model="webSiteName">
                    <option disabled value="">Please select one</option>
                    <option v-for="webSite in webSites" :value="webSite.name">{{ webSite.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Deployment Slot</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select" :class="{ 'is-loading': webSiteSlotsLoading }">
                  <select v-model="slotName">
                    <option disabled value="">Please select one</option>
                    <option v-for="webSiteSlot in webSiteSlots">{{ webSiteSlot.slotName }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">DNS Names</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-multiple">
                  <select multiple v-model="dnsNames">
                    <option v-for="hostName in (selectedSlot || {}).hostNames" :value="hostName.name">{{ hostName.name }} ({{ hostName.issuer }})</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Use IP Based SSL?</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input type="radio" value="true" v-model="useIpBasedSsl">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" value="false" v-model="useIpBasedSsl">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Force DNS-01 Challenge?</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input type="radio" value="true" v-model="forceDns01Challenge">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" value="false" v-model="forceDns01Challenge">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" @click="submit" :class="{ 'is-loading': sending }" :disabled="dnsNames.length === 0">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.11/vue.global.prod.min.js" integrity="sha512-RiF+Jrmab5nvkymjQZrHxYRi83mZj3cblSwolvamR1phU+rN9gUBPGEU7P+tvaKncRSk8dXvJhyhKb0BpYgj9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const delay = (millisecondsDelay) => {
      return new Promise(resolve => setTimeout(() => resolve(), millisecondsDelay));
    }

    const app = {
      data() {
        return {
          resourceGroups: [],
          webSites: [],
          webSiteSlots: [],
          resourceGroupName: '',
          webSiteName: '',
          slotName: '',
          dnsNames: [],
          useIpBasedSsl: false,
          forceDns01Challenge: false,
          resourceGroupsLoading: false,
          webSitesLoading: false,
          webSiteSlotsLoading: false,
          sending: false
        };
      },
      computed: {
        selectedSlot() {
          if (!this.webSiteSlots) {
            return undefined;
          }
          const name = this.slotName;
          return this.webSiteSlots.find(function (x) { return x.slotName === name; });
        }
      },
      watch: {
        async resourceGroupName(newValue, _) {
          if (!newValue) {
            return;
          }

          this.webSitesLoading = true;

          try {
            const response = await axios.get(`/api/group/${newValue}/site`);

            this.webSites = response.data;
          } catch (error) {
            alert(error.response.data.output);
          }

          this.webSitesLoading = false;
        },
        async webSiteName(newValue, _) {
          if (!newValue) {
            return;
          }

          this.webSiteSlotsLoading = true;

          try {
            const response = await axios.get(`/api/group/${this.resourceGroupName}/site/${newValue}/slot`);

            this.webSiteSlots = response.data;
          } catch (error) {
            alert(error.response.data.output);
          }

          this.webSiteSlotsLoading = false;
        }
      },
      methods: {
        async load() {
          this.resourceGroupsLoading = true;

          try {
            const response = await axios.get("/api/group");

            this.resourceGroups = response.data;
          } catch (error) {
            alert(error.response.data.output);
          }

          this.resourceGroupsLoading = false;
        },
        reset() {
          this.webSites = [];
          this.webSiteSlots = [];
          this.resourceGroupName = '';
          this.webSiteName = '';
          this.slotName = '';
          this.dnsNames = [];
          this.useIpBasedSsl = false;
          this.forceDns01Challenge = false;
        },
        async submit() {
          this.sending = true;

          const postData = {
            resourceGroupName: this.resourceGroupName,
            webSiteName: this.webSiteName,
            slotName: this.slotName,
            dnsNames: this.dnsNames,
            useIpBasedSsl: this.useIpBasedSsl,
            forceDns01Challenge: this.forceDns01Challenge
          };

          try {
            let response = await axios.post("/api/certificate", postData);

            while (true) {
              await delay(5000);

              response = await axios.get(response.headers["location"]);

              if (response.status === 200) {
                alert("The certificate was successfully issued.");
                break;
              }
            }
          }
          catch (error) {
            const problem = error.response.data;

            if (error.response.status === 400) {
              const errors = [];

              for (let key in problem.errors) {
                errors.push(problem.errors[key][0]);
              }

              alert(errors.join("\n"));
            } else {
              alert(problem.detail);
            }
          }


          this.reset();
          this.sending = false;
        }
      },
      beforeMount() {
        this.load();
      }
    };

    Vue.createApp(app).mount("#app");
  </script>
</body>
</html>
